<!DOCTYPE html>
<html lang="fa_IR">
  <head>
    <title>Melk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mehrdad Khishtandar">
    <meta name="description" content="سامانه خرید و فورش و اجاره بی واسطه ملک در ایران">
    <meta name=""keyword" content= "خرید و فروش ملک,رهن و اجاره خانه,رهن و اجاره مغازه,خرید و فروش زمین,خرید و فروش آپارتمان"
    <!-- insert OpenGraph after desiging logo and complete content -->
    <!-- FAVICON -->
   <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">  must .ico for support ie-
    third-generation iPad with high-resolution Retina display:
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://developer.cdn.mozilla.net/static/img/favicon144.a6e4162070f4.png">
    iPhone with high-resolution Retina display:
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://developer.cdn.mozilla.net/static/img/favicon114.0e9fabd44f85.png">
    first- and second-generation iPad:
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://developer.cdn.mozilla.net/static/img/favicon72.8ff9d87c82a0.png">
    non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
    <link rel="apple-touch-icon-precomposed" href="https://developer.cdn.mozilla.net/static/img/favicon57.a2490b9a2d76.png">
    <!-- basic favicon
    <link rel="shortcut icon" href="https://developer.cdn.mozilla.net/static/img/favicon32.e02854fdcf73.png">
    -->

  </head>

  <body>
    <%= yield %>
  </body>
</html>
